<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Yuhui Dai">

    <title>About</title>
    <link rel="shortcut icon" type="image/x-icon" href="../resources/d.png">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js" crossorigin="anonymous"></script>

    <link href="../public/css/bootstrap.css" rel="stylesheet">
    <link href="../public/css/portfolioTemplate.css" rel="stylesheet">
    <script src="../public/js/d3.min.js"></script>
    <script src="../public/js/bubble/d3transform.js"></script>
    <script src="../public/js/bubble/extarray.js"></script>
    <script src="../public/js/bubble/misc.js"></script>
    <script src="../public/js/bubble/microObserver.js"></script>
    <script src="../public/js/bubble/plugin.js"></script>
    <script src="../public/js/bubble/bubble.js"></script>
    <script src="../public/js/bubble/centralClick.js"></script>
    <script src="../public/js/bubble/lines.js"></script>
    <script src="../public/js/bubble/index.js"></script>
    <style>

    .bubbleChart {
      height: 540px;
      margin-top: 7px;
      font-family:'Source Sans Pro', sans-serif;
      position: absolute;
      right: 10px;
    }

    </style>
</head>

<body>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="landingPage.html">
        <img src="../resources/yuhui_dai_oceanBlue.png" height ="45px" class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="nav navbar-nav float-md-right">
                <li ><a class="nav-item nav-link" href="portfolioPage.html" >PROJECT</a></li>
                <li><a class="nav-item nav-link" href="photo.html">PHOTOS</a></li>
                <li><a class="nav-item nav-link active" href="aboutMePage.html">ABOUT</a></li>
                <li><a class="nav-item nav-link" href="contactPage.html">CONTACT</a></li>

            </ul>
        </div>
    </div>
  </nav>


  <!-- <section class="jumbotron text-left" id="post"> -->
    <div class="container" style="margin-top: 70px;">

        <div class="row" style="text-align:left">

          <div class="col-lg-6 col-sm-12" style="text-align:center">
            <img style="border-radius: 7px"src="../photo/yuhui.jpg" height="500px">
          </div>
          <div class="col-lg-6 col-sm-12">
            <h1 style="margin-top: 30px"> Yuhui Dai </h1>
            <hr style="visibility:hidden">
            <p style="font-size: 1.2rem; vertical-align: middle">
              Introduction goes here...A current senior studies at NYU Abu Dhabi in the United Arab Emirates. I am interested in and data visualization....more introduction goes here. Introduction goes here...A current senior studies at NYU Abu Dhabi in the United Arab Emirates.
            </p>
            <div class="col-sm-12 text-center" style="margin-top: 35px">
              <a href="PortFolioWithCV.pdf" download class="downloadCV" style="vertical-align:bottom">
                  <img src="../resources/download.png" height="30px"> Resume
              </a>
            </div>
          </div>
        </div>
        <hr style="margin-top:70px">

    </div>


  <div class="container" style="margin-top: 70px">
    <div class='row'>
      <div class="col-md-3 col-sm-12" style="margin-left: 20px; ">
        <h1 style="text-align: left;margin: 20px">Technical</h1>
        <h1 style="text-align: left; margin:20px">Skills</h1>
      </div>
      <div class="bubbleChart col-md-7 col-sm-12" id="bubbles_aboutMe" style="position: relative; margin:auto; display: block"></div>
    </div>
    <hr style="margin-top:70px">
  </div>

  <div class="container" style="margin-top: 70px;">
      <div id="aboutMeFunFacts">
        <div class="row">
          <div class="col-lg-6 col-sm-12" style="margin:auto;text-align:center;padding: 30px">
            <h1 > Fun Facts </h1>
            <hr style="visibility:hidden">
            <p style="font-size: 1.2rem; vertical-align: middle">1. I used to dance when I was a kid</p>
            <p style="font-size: 1.2rem; vertical-align: middle">2. I want to be a super mutant</p>
            <p style="font-size: 1.2rem; vertical-align: middle">3. I want to live on Pandora</p>
            <p style="font-size: 1.2rem; vertical-align: middle">4. I worship Jedi Master Yoda</p>
            <p style="font-size: 1.2rem; vertical-align: middle">5. I love ramen</p>
          </div>
          <div class="col-lg-6 col-sm-12" style="text-align:center">
            <img height="400px" style="border-radius: 7px"src="../photo/soaked.jpg">
          </div>

        </div>


        <hr style="margin-top:70px">
        <footer>
          <p class="myFooter" style="margin-bottom: 50px">© 2017 Yuhui Dai</p>

          <p class="myRightFooter">
            <a href="https://www.facebook.com">
              <img src="../resources/facebook.png" width="20px" height="20px" alt="">
            </a>
          </p>
          <p class="myRightFooter">
            <a href="https://www.github.com">
             <img src="../resources/github.png" width="20px" height="20px" alt=" ">
            </a>
          </p>
          <p class="myRightFooter">
            <a href="https://www.linkedin.com">
              <img src="../resources/linkedin.png" width="20px" height="20px" alt=" ">
            </a>
          </p>
        </footer>
      </div>
    </div>

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>
