<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Yuhui Dai">

    <title>Contact</title>
    <link rel="shortcut icon" type="image/x-icon" href="../resources/d.png">
    <link href="../public/css/bootstrap.css" rel="stylesheet">


    <link href="../public/css/portfolioTemplate.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="landingPage.html">
    <img src="../resources/yuhui_dai_oceanBlue.png" height ="45px" class="d-inline-block align-top" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


    <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="nav navbar-nav float-md-right">
        <li ><a class="nav-item nav-link" href="portfolioPage.html" >PROJECT</a></li>
        <li><a class="nav-item nav-link" href="photo.html">PHOTOS</a></li>
        <li><a class="nav-item nav-link" href="aboutMePage.html">ABOUT</a></li>
        <li><a class="nav-item nav-link active" href="contactPage.html">CONTACT</a></li>

      </ul>
    </div>
  </div>
</nav>

  <div class="container marketing" style="margin-top:3rem">
    <div class="row">
      <div class="col-lg-4">
        <img src="../resources/cornell_grey.png" alt=" "  height="150px">
        <h2>Location</h2>
        <p>
          <a href="https://tech.cornell.edu">Cornell Tech, NYC</a>
        </p>
      </div>

      <div class="col-lg-4">
        <img src="../resources/email_grey.png" alt="Generic placeholder image" height="150px">
        <h2>Email</h2>
        <p>
          <a href="mailto:yd229@cornell.edu?Subject=" target="_top">yd229@cornell.edu</a>
        </p>
      </div>

      <div class="col-lg-4">
        <img src="../resources/phone_grey%20copy.png" alt="Generic placeholder image" height="150px">
        <h2>Phone number</h2>
        <p>
          <a href="tel:971-56-319-0865">+971 56 319 0867</a>
        </p>
      </div>


    </div>


  <hr class="featurette-divider">

  <footer>
    <p class="myFooter">© 2017 Yuhui Dai</p>
    <p class="myRightFooter">
      <a href="https://www.facebook.com">
        <img src="../resources/facebook.png" width="20px" height="20px" alt="">
      </a>
    </p>
    <p class="myRightFooter">
      <a href="https://www.github.com">
        <img src="../resources/github.png" width="20px" height="20px" alt=" ">
      </a>
    </p>
    <p class="myRightFooter">
      <a href="https://www.linkedin.com">
        <img src="../resources/linkedin.png" width="20px" height="20px" alt=" ">
      </a>
    </p>
  </footer>
</div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/js/resize.js"></script>
</body>

</html>
