<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Yuhui Dai and Ting-Che Lin">

    <title>Portfolio Template - Contact Me Page</title>
    <link rel="shortcut icon" type="image/x-icon" href="../resources/graphical.png">
    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="../public/css/bootstrap.css" rel="stylesheet">


    <link href="../public/css/portfolioTemplate.css" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="landingPage.html">
     <img src="../resources/graphical.png" width="150px" height ="60px" class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


      <div class="navbar-nav">
        <a class="nav-item nav-link" href="portfolioPage.html" style="color:#fbfafa">Portfolio</a>
        <a class="nav-item nav-link" href="aboutMePage.html" style="color:#fbfafa">About Me</a>
        <a class="nav-item nav-link" href="contactPage.html" style="color:#fbfafa">Contact</a>

      </div>
    </div>
  </nav>

  <div class="container marketing" style="margin-top:3rem">
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="../resources/location_grey.png" alt=" " width="140px" height="140px">
        <h2>Location</h2>
        <p>
          <a href="https://www.google.com/maps/place/New+York+University+Abu+Dhabi/@24.…15z/data=!4m5!3m4!1s0x0:0x14e8727ec5ee2be1!8m2!3d24.5238948!4d54.4345558">New York University Abu Dhabi, Saadiyat Island, PO Box 129188, Abu Dhabi, UAE</a>
        </p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="../resources/email_grey.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Email</h2>
        <p>
          <a href="mailto:tingche.lin@nyu.edu?Subject=" target="_top">tingche.lin@nyu.edu</a>
        </p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="../resources/phone_grey.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Phone number</h2>
        <p>
          <a href="tel:971-56-319-0865">+971 56 319 0867</a>
        </p>
      </div>


    </div>


  <hr class="featurette-divider">

  <footer>
    <p class="myFooter">© 2017  Ting-Che Lin · Yuhui Dai</p>
    <p class="myRightFooter">
      <a href="https://www.facebook.com">
        <img src="../resources/facebook.png" width="20px" height"20px" alt="">
      </a>
    </p>
    <p class="myRightFooter">
      <a href="https://www.github.com">
        <img src="../resources/github.png" width="20px" height"20px" alt=" ">
      </a>
    </p>
    <p class="myRightFooter">
      <a href="https://www.linkedin.com">
        <img src="../resources/linkedin.png" width="20px" height"20px" alt=" ">
      </a>
    </p>
  </footer>
</div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/js/resize.js"></script>
</body>

</html>
