<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yuhui Dai</title>    
    <link rel="shortcut icon" type="image/x-icon" href="../resources/d.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <div style="width: 600px; margin: auto; margin-top: 10%">
        <object>
            <embed src="../resources/yd1.svg">
        </object>
    </div>
    <script>
    $(document).ready(function(){
        $("body").show().delay(5000).fadeOut('slow', function() {
            window.location.href = "landingPage.html";
        }); 
    });
    </script>
    
</body>
</html>
