<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Yuhui Dai and Ting-Che Lin">

    <title>example</title>
    <link rel="shortcut icon" type="image/x-icon" href="../resources/d.png">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
    <link href="../public/css/bootstrap.css" rel="stylesheet">




    <style>
      #trianglify {
        display: block;
      }

    </style>
    

</head>

<body>
    
    <div id="trianglify"></div>
    <script>
    var pattern = Trianglify({
        variance: "0.51", 
        cell_size: 30,
        x_colors: 'random',
        width: window.innerWidth,
        height: 250
    });

    //pattern.svg();
    document.body.appendChild(pattern.svg());

    </script> 

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
   
</body>

</html>
