<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yuhui Dai">

    <title>Photos</title>

    <link rel="shortcut icon" type="image/x-icon" href="../resources/d.png">
    <link href="../public/css/bootstrap.css" rel="stylesheet">


    <link href="../public/css/portfolioTemplate.css" rel="stylesheet">

</head>
<body id="page-top" class="index">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="landingPage.html">
        <img src="../resources/yuhui_dai_oceanBlue.png" height ="45px" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="nav navbar-nav float-md-right">
            <li ><a class="nav-item nav-link" href="portfolioPage.html" >PROJECT</a></li>
            <li><a class="active nav-item nav-link" href="photo.html">PHOTOS</a></li>
            <li><a class="nav-item nav-link" href="aboutMePage.html">ABOUT</a></li>
            <li><a class="nav-item nav-link" href="contactPage.html">CONTACT</a></li>

        </ul>
    </div>
</nav>

<section class="text-left" id="post">

    <div class="row photo">

            <div class="col-md-6 col-sm-12 photoDeck">
                <div style="margin: 5px">
                    <a href="portfolioDescriptionPage.html">
                        <img class="img-fluid" src="../photo/graduation.jpg">
                        <div class="overlay">
                            <div class="photoDescription">College Graduation 2017</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 photoDeck">
                <div style="margin: 5px">
                    <a href="portfolioDescriptionPage.html">
                        <img class="img-fluid" src="../photo/London2016.jpg">
                        <div class="overlay">
                            <div class="photoDescription">London Winter 2016</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 photoDeck">
                <div style="margin: 5px">
                    <a href="portfolioDescriptionPage.html">
                        <img class="img-fluid" src="../photo/firstWinterNYC.jpg">
                        <div class="overlay">
                            <div class="photoDescription">First Winter NYC 2014</div>
                        </div>
                    </a>
                </div>
            </div>
        <div class="col-md-6 col-sm-12 photoDeck">
            <div style="margin: 5px">
                <a href="portfolioDescriptionPage.html">
                    <img class="img-fluid" src="../photo/northwestChinaSummer2014.jpg">
                    <div class="overlay">
                        <div class="photoDescription">Northwestern China Summer 2014</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 photoDeck">
            <div style="margin: 5px">
                <a href="portfolioDescriptionPage.html">
                    <img class="img-fluid" src="../photo/BuranoVenice.jpg">
                    <div class="overlay">
                        <div class="photoDescription">Burano Island Spring 2014</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 photoDeck">
            <div style="margin: 5px">
                <a href="portfolioDescriptionPage.html">
                    <img class="img-fluid" src="../photo/RomeVanticanCity.jpg">
                    <div class="overlay">
                        <div class="photoDescription">Vatican City & Rome Spring 2014</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 photoDeck">
            <div style="margin: 5px">
                <a href="portfolioDescriptionPage.html">
                    <img class="img-fluid" src="../photo/florenceCloudy2014March.jpg">
                    <div class="overlay">
                        <div class="photoDescription">Florence Spring 2014</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 photoDeck">
            <div style="margin: 5px">
                <a href="portfolioDescriptionPage.html">
                    <img class="img-fluid" src="../photo/grandCanyon.jpg">
                    <div class="overlay">
                        <div class="photoDescription">Grand Canyon Spring 2016</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 photoDeck">
            <div style="margin: 5px">
                <a href="portfolioDescriptionPage.html">
                    <img class="img-fluid" src="../photo/grandmosque.jpg">
                    <div class="overlay">
                        <div class="photoDescription">Grand Mosque Abu Dhabi</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 photoDeck">
            <div style="margin: 5px">
                <a href="portfolioDescriptionPage.html">
                    <img class="img-fluid" src="../photo/dock_barcelona.jpg">
                    <div class="overlay">
                        <div class="photoDescription">Barcelona Spring 2017</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 photoDeck">
            <div style="margin: 5px">
                <a href="portfolioDescriptionPage.html">
                    <img class="img-fluid" src="../photo/morocco2016Dec.jpg">
                    <div class="overlay">
                        <div class="photoDescription">Morocco Winter 2016</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 photoDeck">
            <div style="margin: 5px">
                <a href="portfolioDescriptionPage.html">
                    <img class="img-fluid" src="../photo/indiaJan2014.jpg">
                    <div class="overlay">
                        <div class="photoDescription">India Winter 2014</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 photoDeck">
            <div style="margin: 5px">
                <a href="portfolioDescriptionPage.html">
                    <img class="img-fluid" src="../photo/rain_Munich.jpg">
                    <div class="overlay">
                        <div class="photoDescription">Rain in Munich 2017</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 photoDeck">
            <div style="margin: 5px">
                <a href="portfolioDescriptionPage.html">
                    <img class="img-fluid" src="../photo/ice_cream.jpg">
                    <div class="overlay">
                        <div class="photoDescription">Delicious Gelato</div>
                    </div>
                </a>
            </div>
        </div>


    </div>
</section>
<hr style="visibility:hidden">
<hr style="visibility:hidden">
<footer>
    <div class="col-md-12 portfolio">
        <p class="myFooter">© 2017 Yuhui Dai</p>
        <p class="myRightFooter">
            <a href="https://www.facebook.com">
                <img src="../resources/facebook.png" width="20px" height="20px" alt="">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://www.github.com">
                <img src="../resources/github.png" width="20px" height="20px" alt=" ">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://www.linkedin.com">
                <img src="../resources/linkedin.png" width="20px" height="20px" alt=" ">
            </a>
        </p>

    </div>


</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/js/resize.js"></script>

</body>

</html>
