<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Yuhui Dai">

  <title>Portfolio Description</title>

  <link rel="shortcut icon" type="image/x-icon" href="../resources/d.png">
  <link href="../public/css/bootstrap.css" rel="stylesheet">


  <link href="../public/css/portfolioTemplate.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="landingPage.html">
    <img src="../resources/yuhui_dai_oceanBlue.png" height ="45px" class="d-inline-block align-top" alt="">
    <!-- <img src="../resources/5_pinkBlue.png" height ="45px" class="d-inline-block align-top" alt=""> -->
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">

    <ul class="nav navbar-nav float-md-right">
      <li ><a class="nav-item nav-link" href="portfolioPage.html" >PROJECT</a></li>
      <li><a class="nav-item nav-link" href="photo.html">PHOTOS</a></li>
      <li><a class="nav-item nav-link" href="aboutMePage.html">ABOUT</a></li>
      <li><a class="nav-item nav-link" href="contactPage.html">CONTACT</a></li>

    </ul>
  </div>
</nav>

  <section class="jumbotron text-left" id="post">
    <div class="container">
      <div class="portfolioDescriptionHeading">
        <div class="row" style="text-align:left">
          <div class="col-lg-5 col-sm-12">
            <h1> Wadi Drone </h1>
            <hr>
            <p class="companyAndDate">
              Company
              <span> Date </span>
            </p>
            <hr style="visibility:hidden">
            <p>
              Wadi Drone is a fixed wing data MULE (Mobile Ubiquitous LAN Extension) that automates the collection of camera trap photographs, a critical conservation data. Designed in collaboration with Wadi Wurayah National Park the drone
            </p>
          </div>
          <div class="col-lg-7 col-sm-12" style="text-align:center">
            <img class="img-fluid" src="http://placehold.it/600x300">
          </div>
        </div>
        <hr style="visibility:hidden">
      </div>
      <div class="row">
        <div class="body">
          <img class="img-fluid" src="http://placehold.it/1200x400">
          <div class="row">
            <div class="col-md-12">
              <hr style="visibility:hidden">
              <div class="col-md-12 text">
                <h3> Problem </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </div>
            <div class="col-md-12">
              <img class="img-fluid" src="http://placehold.it/1200x400">
            </div>
            <div class="col-md-12">
              <hr style="visibility:hidden">
              <div class="col-md-12 text">
                <h3> Solution </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <img class="img-fluid" src="http://placehold.it/600x400">
            </div>
            <div class="col-sm-6">
              <img class="img-fluid" src="http://placehold.it/600x400">
            </div>
            <div class="col-md-12">
              <hr style="visibility:hidden">
              <div class="col-md-12 text">
                <h3> More Details </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row relatedWork">
        <div class="col-md-12 text-center">
          <hr style="visibility:hidden">
          <h3> Related Work </h3>
          <hr style="visibility:hidden">
        </div>
        <div class="col-md-4">
          <a href="portfolioDescriptionPage.html">
            <div class="cards">
              <img class="img-fluid" src="http://placehold.it/600x400">
              <p>Lorem Ipsum is simply dummy</p>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="portfolioDescriptionPage.html">
            <div class="cards">
              <img class="img-fluid" src="http://placehold.it/600x400">
              <p>Lorem Ipsum is simply dummy</p>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="portfolioDescriptionPage.html">
            <div class="cards">
              <img class="img-fluid" src="http://placehold.it/600x400">
              <p>Lorem Ipsum is simply dummy</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->

<footer>
  <div class="col-md-12 portfolio">
  <p class="myFooter">© 2017 Yuhui Dai</p>
  <p class="myRightFooter">
    <a href="https://www.facebook.com">
      <img src="../resources/facebook.png" width="20px" height="20px" alt="">
    </a>
  </p>
  <p class="myRightFooter">
    <a href="https://www.github.com">
      <img src="../resources/github.png" width="20px" height="20px" alt=" ">
    </a>
  </p>
  <p class="myRightFooter">
    <a href="https://www.linkedin.com">
      <img src="../resources/linkedin.png" width="20px" height="20px" alt=" ">
    </a>
  </p>

</div>
<hr style="visibility:hidden">
<hr style="visibility:hidden">
<hr style="visibility:hidden">
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/js/resize.js"></script>

</body>

</html>
